.tooltip-container {
    position: absolute;
    bottom: -40px;
    animation: slideDown .3s ease;
}

.tooltip-container-hide {
    position: absolute;
    display: none;

 
}

.tooltip {
    position: relative;
    width: fit-content;
    padding: 10px;
    background-color: var(--logo-color);
    border-radius: 5px;
    color: var(--white-color);
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
}

.tooltip::before {
    content: '';
    position: absolute;
    top: -2px;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top: 0;
    border-bottom: 5px solid var(--logo-color);
}