.dashboard-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.dashboard-2 {
    display: none;
}




/* analytics container */

.analytics-container {
    background-color: var(--mainContainer-color);
    width: calc(100% - 81px);
}

/* analytics-container-2 */

.analytics-container-2 {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    padding: 20px;
    gap: 10px;
}

.top-charts {
    display: flex;
    height: fit-content;
    gap: 20px;
}


.last-orders-top-platform{
    display: flex;
    height: fit-content;
    justify-content: space-between;
    gap: 20px;
}


/* media queries.......................................... */


@media screen and (max-width: 1261px) {
    .top-charts {
        width: unset;
        flex-direction: column;
    }
}

@media screen and (max-width: 1024px) {
    .last-orders-top-platform {
        flex-direction: column;
        justify-content: center;
    }
}
 
 @media screen and (max-width: 851px) {

    .dashboard-container {
        position: relative;
    }
    .analytics-container {
        width: 100vw;
    }

 }

 @media screen and (max-width: 472px) {

    .dashboard-2 {
        display: unset;
        margin: 0px;
        color: var(--header-color);
        font-size: 20px;
        font-weight: 600;
        text-align: left;
    }
 }