.totals-chart {
  width: 100%;
  height: fit-content;
  max-width: 494px;
  min-width: 494px;
  background-color: transparent;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 14px;
}

.totals {
  width: 207px;
  min-width: 207px;
  height: 147px;
  background-color: var(--white-color);
  padding: 16px;
  display: grid;
  gap: 10px;
  border-radius: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.totals:hover {
  transform: scale(1.05);
  background-color: var(--transparentLogo-color);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.total-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total-top-left-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid var(--border-color-4);
}

.total-figure {
  display: grid;
  text-align: left;
  gap: 10px;
}

.total-figure p:first-child {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color-grey);
  margin: 0;
}

.total-figure p:last-child {
  font-size: 24px;
  font-weight: 600;
  color: var(--header-color-2);
  margin: 0;
}

.total-bottom-remark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 207px;
}
.total-bottom-remark p:last-child {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.previous-month {
  color: var(--previousM-text-color);
}

.total-percentage {
  width: 70px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
}

.total-percentage p {
  font-size: 12px;
  font-weight: 500;
  margin-left: 5px;
}

.green-percent {
  background-color: var(--transparentLogo-color);
  color: var(--logo-color);
}

.red-percent {
  background-color: var(--transparent-background-red-color);
  color: var(--red-text-color);
}

/* media queries.......................................... */

@media screen and (max-width: 1261px) {
  .totals-chart {
    width: unset;
    max-width: unset;
    min-width: unset;
    flex-wrap: wrap;
    gap: 20px;
  }

  .totals {
    flex: 1;
    width: 100%;
    min-width: 335px;
  }
}

@media screen and (max-width: 898px) {
    .totals {
        min-width: 250px;
      }
}

@media screen and (max-width: 467px) {
  .totals-chart {
    flex-direction: column;
    overflow-x: unset;
  }

  .totals {
    width: unset;
  }
}
